.fa-check{
    color: blue;
}

#cartOrder{
    visibility: hidden;
}

#orderAddress{
    margin-top: 4rem;
    font-size: 1.1rem;
    text-decoration: underline;
}

#guestIndent{
    padding-left: 1rem;;
}

#numberOrder{
    @include margTop2;
    font-size: 1.2rem;
    padding-left: 1rem;
    white-space: pre-line;
    text-align: center;
    font-weight: lighter;
}

#indentLastName, #indentCity{
    text-transform: uppercase;
}

#indentFirstName, #indentAddress{
    text-transform: capitalize;
}

.totaux{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#ordertIndentProducts{
    @include margTop2;
}

.totaux{
    @include margTop2;
}

#indentTotalPrice{
    font-size: 1.2rem;
    font-weight: bold;
}