body {
  font-family: "Comic sans MS", Verdana, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("/image/bkg.jpg") fixed;
  opacity: 0.9;
}

h1 {
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  color: white;
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

ul {
  display: flex;
  padding-top: 2rem;
  list-style: none;
  width: auto;
}

li {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 25%;
  height: 3rem;
}

i {
  color: white;
  font-size: 1.2rem;
  width: 25%;
  transform: scale(1);
  transition: transform 1s;
}
@media screen and (min-width: 760px) {
  i {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1020px) {
  i {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1025px) {
  i {
    font-size: 2rem;
  }
}
i:hover {
  color: black;
  text-shadow: 0.1rem 0.3rem 0.8rem white;
  transform: scale(1.3);
}

#home {
  color: blue;
}

.brush {
  visibility: hidden;
}

.navBarre {
  border-bottom: 0.125rem solid grey;
}

footer {
  padding: 1.5rem;
  width: auto;
  background-color: black;
  opacity: 0.8;
  color: white;
  font-size: 80%;
}

footer ul {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2rem;
}
@media screen and (min-width: 420px) {
  footer ul {
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    padding-left: 1rem;
  }
}

li i {
  width: 1.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

li a {
  text-decoration: none;
  color: white;
  padding-top: 0.5rem;
}

li {
  align-items: center;
}
@media screen and (min-width: 760px) {
  li {
    margin-bottom: 0.2rem;
  }
}

.formail {
  color: white;
}
.formail #email-input {
  font-weight: bold;
}
.formail__mail {
  padding: 1rem;
}
.formail__mail input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.125rem solid white;
  border-radius: 100rem;
  color: red;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1.5rem;
  width: 80%;
}
.formail__mail input:active, .formail__mail input:focus {
  border: 0.125rem solid black;
}
.formail__mail input:not(:focus):invalid {
  color: white;
  border: 0.125rem solid red;
  background-color: #e2c58e;
  animation: nogood 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  animation-iteration-count: 2;
}
@media screen and (min-width: 535px) {
  .formail__mail input {
    width: 25rem;
  }
}

@keyframes nogood {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
#query {
  width: 80%;
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#query-title {
  width: 15rem;
  padding-left: 1rem;
}

.model {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.item {
  width: 80%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  margin: auto;
  margin-bottom: 1.5rem;
  border-radius: 5%;
  transform: scale(1);
  transition: transform 1s;
}
@media screen and (min-width: 535px) {
  .item {
    width: 15rem;
    height: 13rem;
  }
}
@media screen and (min-width: 760px) {
  .item {
    width: 20rem;
    height: 18rem;
  }
}
.item:hover {
  box-shadow: 0 0.3rem 1rem #00b300;
  transform: scale(1.1);
}

.picture {
  width: 98%;
  border-radius: 5% 5% 0 0;
  margin: auto;
  margin-top: 0.2rem;
  object-fit: cover;
  height: 10rem;
  display: flex;
}
@media screen and (min-width: 535px) {
  .picture {
    height: 10rem;
  }
}
@media screen and (min-width: 760px) {
  .picture {
    height: 15rem;
  }
}

.namePrice {
  display: flex;
  width: 95%;
  height: 2.5rem;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 0.5rem;
}

.nameItem {
  width: 55%;
}

h3 {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: 0.7rem;
}

.nameItem .price {
  padding: 0.7rem;
  font-weight: bold;
}
@media screen and (min-width: 535px) {
  .nameItem .price {
    font-size: 1rem;
  }
}

@media screen and (min-width: 420px) {
  #furniture {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

#brush-prod {
  color: blue;
}

.item-prod {
  width: 85%;
  height: 21rem;
  background: white;
  margin: auto;
  margin-bottom: 1.5rem;
  border-radius: 5%;
}
@media screen and (min-width: 318px) {
  .item-prod {
    height: 21rem;
  }
}
@media screen and (min-width: 535px) {
  .item-prod {
    width: 30rem;
    height: 30rem;
  }
}

.picture-prod {
  width: 98%;
  border-radius: 5% 5% 0 0;
  margin: auto;
  margin-top: 0.2rem;
  object-fit: cover;
  height: 12rem;
  display: flex;
  padding-top: 0.2rem;
}
@media screen and (min-width: 535px) {
  .picture-prod {
    height: 22rem;
  }
}

.description-title {
  font-size: 0.8rem;
  text-decoration: underline;
  padding-left: 0.5rem;
}
@media screen and (min-width: 535px) {
  .description-title {
    padding-top: 0.5rem;
  }
}

.description-text {
  font-size: 0.8rem;
  width: 95%;
  margin: auto;
}

.varnishForm {
  text-align: center;
}

#sendBasket, #sendQuery {
  display: block;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: white;
}
#sendBasket:hover, #sendQuery:hover {
  box-shadow: 0 0.3rem 1rem #00b300;
}

#cart-down {
  color: blue;
}

.mercipanier {
  color: white;
  text-align: center;
}

.coordonnees {
  color: white;
}

.pageBasket, .pageOrder {
  color: white;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

caption {
  font-weight: bold;
}

#productsNumber, #indentProductsNumber {
  height: 3rem;
  align-items: center;
}
@media screen and (min-width: 535px) {
  #productsNumber, #indentProductsNumber {
    height: auto;
  }
}

th, td {
  width: 70%;
  border: 0.05rem solid white;
  padding-left: 0.5rem;
}

.unitPrice tr, #productsNumber, #totalPrice, .unitIndentPrice tr, #indentProductsNumber, #indentTotalPrice {
  display: flex;
  justify-content: center;
}

#thk {
  font-size: 1.2rem;
  text-align: center;
}

fieldset {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.nameDetails p, .addressDetails p {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

label {
  display: inline-block;
  width: 5rem;
}

input:hover, textarea:hover {
  box-shadow: 0 0.3rem 1rem #00b300;
}
input:focus, textarea:focus {
  background-color: #dff5d7;
}
input:not(:focus):invalid, textarea:not(:focus):invalid {
  border: 0.2rem solid #ee5b2e;
}

#sendOrder, #guest, #sendQuery {
  width: 12rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
#sendOrder:hover, #guest:hover, #sendQuery:hover {
  box-shadow: 0 0.3rem 1rem #00b300;
}

#clearBasket {
  width: 10rem;
  margin: 1rem;
  color: white;
  background-color: grey;
}

#sendOrder, #sendQuery {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa-check {
  color: blue;
}

#cartOrder {
  visibility: hidden;
}

#orderAddress {
  margin-top: 4rem;
  font-size: 1.1rem;
  text-decoration: underline;
}

#guestIndent {
  padding-left: 1rem;
}

#numberOrder {
  margin-top: 2rem;
  font-size: 1.2rem;
  padding-left: 1rem;
  white-space: pre-line;
  text-align: center;
  font-weight: lighter;
}

#indentLastName, #indentCity {
  text-transform: uppercase;
}

#indentFirstName, #indentAddress {
  text-transform: capitalize;
}

.totaux {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#ordertIndentProducts {
  margin-top: 2rem;
}

.totaux {
  margin-top: 2rem;
}

#indentTotalPrice {
  font-size: 1.2rem;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
