@import "./utils/variables";
@import "./utils/mixins";
@import "./base/confs";
@import "./layout/product";

.model{
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item{
    width: 80%;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include itembox;
    @include duo{
        width: 15rem;
        height: 13rem;
    }
    @include pad{
        width: 20rem;
        height: 18rem;
    }
    transform: scale(1);
    transition: transform 1s;
    &:hover{
        @include itemshadow;
        transform: scale(1.1);
    }
}

.picture{
    @include picturesize;
    height: 10rem;
    display: flex;    
    @include duo{
        height: 10rem;
    }
    @include pad{
        height: 15rem;
    }
}

.nameprice{
    display: flex;
    width: 96%;
    height: 2.5rem;
    align-items: flex-end;
    justify-content: space-between;
}

.name{
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name, .price{
    padding: .7rem;
    font-size: .8rem;
    @include duo{
        font-size: 1rem;
    }
}

.furniture{
    @include mobile{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
}

.item-prod{
    width: 85%;
    height: 25rem;
    @include itembox;
}

.picture-prod{
    @include picturesize;
    height: 12rem;
    display: flex;
    margin-top: .2rem;
}

.description-title{
    font-size: 1rem;
    text-decoration: underline;
    padding-left: .5rem;
}

.description-text{
    font-size: .8rem;
    width: 95%;
    margin:auto;
}

// choix du vernis
.custumise{
    width: 15rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: auto;
}

label{
    width: 15rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: auto;
    padding-right: .7rem;
}

select{
    font-size: .9rem;
    padding: .125rem .3123rem;
}
