@import "./utils/variables";
@import "./utils/mixins";
@import "./base/confs";
@import "./layout/product";
@font-face{
    font-family: 'shrikhand';
    src:url('/fonts/shrikhand/Shrikhand-Regular.ttf');
}


.model{
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item{
    width: 15rem;
    height: 12rem;
    background: white;
    margin: auto;
    margin-bottom: 1.5rem;
    border-radius: 5%;
    transform: scale(1);
    transition: transform 1s;
    &:hover{
        @include itemshadow;
        transform: scale(1.1);
    }
}

.item{
    width: 14.6rem;
    height: 11.5rem;
    border-radius: 5%;
}

.picture{
    width: 14rem;
    height: 8rem;
    border-radius: 5% 5% 0 0;
    margin: .3rem;
    object-fit: cover;
}

.nameprice{
    display: flex;
    width: 13rem;
    height: 3rem;
    justify-content: space-between;
    align-items: flex-end;
}

.name, .price{
    padding: .5rem;
}