@import "./utils/variables";
@import "./utils/mixins";
@import "./base/confs";
@import "./layout/product";
@import "./layout/basket";




.model{
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include modelfont;
}

.item{
    width: 80%;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include itembox;
    @include duo{
        width: 15rem;
        height: 13rem;
    }
    @include pad{
        width: 20rem;
        height: 18rem;
    }
    transform: scale(1);
    transition: transform 1s;
    &:hover{
        @include itemshadow;
        transform: scale(1.1);
    }
}

.picture{
    @include picturesize;
    height: 10rem;
    display: flex;    
    @include duo{
        height: 10rem;
    }
    @include pad{
        height: 15rem;
    }
}

.namePrice{
    display: flex;
    width: 95%;
    height: 2.5rem;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: .5rem;
}

.nameItem{
    width: 55%;  
}

h3{
    font-size: .8rem;
    @include ellipsis;
}

.price{
    font-size: .7rem; 
    @include  ellipsis;
}

.nameItem .price{
    padding: .7rem;
    font-weight: bold;
    @include duo{
        font-size: 1rem;
    }
}

#furniture{
    @include mobile{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
}

.item-prod{
    width: 85%;
    height: 21rem;
    @include itembox;
    @include small{
        height: 21rem;
    }
    @include pad{
        height: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.picture-prod{
    @include picturesize;
    height: 12rem;
    display: flex;
    padding-top: .2rem;
    @include pad{
        height: 22rem;
    }
}

.description-title{
    font-size: .8rem;
    text-decoration: underline;
    padding-left: .5rem;
    @include duo{
        padding-top: .5rem;
    }
}

.description-text{
    font-size: .6rem;
    width: 95%;
    margin:auto;
}

#quantity, #itemCustumise, #sendBasket{
    display: block;
    @include bouton;   
}

#itemCustumise:hover{
    @include itemshadow;
}

 #sendBasket, #enregistrer{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
    &:hover{
        @include itemshadow;
    }
}

.varnishForm{
    text-align: center;
}

.coordonnees{
    color: white;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

caption{
    font-weight: bold;
}

th, td{
    width: 70%;
    border: .05rem solid white;
    padding-left: .5rem;
}

.unitPrice tr, #productsNumber, #totalPrice{
    display: flex;
    justify-content: center;
}

fieldset{
    padding: 1rem;
}

label{
    display: inline-block;
    width: 5rem;
}

input, textarea{
    &:hover{
    @include itemshadow;
    }
    &:focus{
        background-color: rgb(223, 245, 215);
    }
    &:not(:focus):invalid{
       border: .2rem solid rgb(238, 91, 46);
    }
}

#sendOrder, #guest{
    width: 12rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    &:hover{
        @include itemshadow;
    }
}

#sendOrder{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#clearBasket{
    width: 10rem; 
    margin: 1rem;
    color: white;
    background-color: grey;
}

.pageBasket, .pageOrder{
    color: white;
}

#guestIndent{
    padding-left: 1rem;;
}

#numberOrder{
    font-size: 1rem;
    padding-left: 1rem;
    white-space: pre-line;
    text-decoration: underline;
    padding-bottom: .5rem;
}

#indentLastName, #indentCity{
    text-transform: uppercase;
}

#indentFirstName, #indentAddress{
    text-transform: capitalize;
}

.totaux{
    margin-top: 1rem;
}