@import "./variables";

@mixin fond_body{
    background: url("/image/oak_4.jpg") fixed;
    opacity : .9;
}

@mixin itemshadow($color: green){
    box-shadow: 0 .3rem 1rem lighten($color: $color, $amount: 10%);
}

@mixin iconeshadow{
    text-shadow: 0.1rem .3rem .8rem white;
}

@mixin itembox{
    background: white;
    margin: auto;
    margin-bottom: 1.5rem;
    border-radius: 5%;
}

@mixin picturesize{
    width: 98%;
    border-radius: 5% 5% 0 0;
    margin: auto;
    margin-top: .2rem;
    object-fit: cover;
}

@mixin modelfont{
    color: white;
    text-align: center;
}

@mixin bouton{
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@mixin ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin small{
    @media screen and(min-width: map-get($breakpoints, small)){
        @content;
    }
}
@mixin mobile{
    @media screen and(min-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin duo{
    @media screen and(min-width: map-get($breakpoints, duo)){
        @content;
    }
}

@mixin pad{
    @media screen and(min-width: map-get($breakpoints, pad)){
        @content;
    }
}

@mixin ppro{
    @media screen and(min-width: map-get($breakpoints, ppro)){
        @content;
    }
}

@mixin xxl{
    @media screen and(min-width: map-get($breakpoints, xxl)){
        @content;
    }
}